<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="TestNg2.testIntro1"/>
      
      <class name="TestNg2.testIntro2">
     <methods>
		 <exclude name="CallIntro"/>
     </methods>
     
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
